ul.categories {
    margin-left: 0;
    padding-left: 0;
}
ul.categories li {
    display: inline;
    margin-right: 5px;
}
.hfeed {
}
.hentry {
}
.active {
    background-color: #ddd;
}
.pinned {
    background-color: #d99;
    border: 4px solid #fff;
}

